html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: table;
	background-color: #585a5b;
}

div {
	margin-bottom: 20px;
}

.scoreBlock {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	color: #ccc;
	user-select: none;
}

.red {
	/*position: relative;*/
	top: 100px;
	left: 100px;
	background-color: red;
	width: 200px;
	height: 200px;
}

.abs {
	width: 100px;
	height: 100px;
	background: yellow;
	position: absolute;
	bottom: 50px;
	right: 50px;
	/*margin-top: -50px;*/
	/*margin-left: -50px;*/
}
.green {
	position: relative;
	background-color: green;
	width: 200px;
	height: 200px;
}

.siteWrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.gameWrapper {
	margin: 0 auto;
	background-color: #a5a6a7;
	position: relative;
	overflow: hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tile {
	/*opacity: 0;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 20px;
	text-shadow: 1px 1px 0 #fff;
	color: #666;

	user-select: none;
	box-sizing: border-box;

	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	border: 5px solid;
	border-top-color: #fff;
	border-bottom-color: #999;
	border-left-color: #eee;
	border-right-color: #aaa;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	width: 100px;
	height: 100px;
	line-height: 90px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	cursor: pointer;

	transition: background 0.2s linear, transform .4s ease-in-out;
}

.tile.active {
	background-color: #70b752;
	border-top-color: #9aec77;
	border-bottom-color: #5d9048;
	border-left-color: #82d260;
	border-right-color: #6aab4e;
}

/* LINE TOP */
.lineTop:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	top: -15px;
	left: 50%;
	margin-left: -3px;
	background-color: #82d260;
	z-index: -1;
	cursor: default;
}

.lineTop:after {
	position: absolute;
	display: block;
	content: '';
	top: -35px;
	left: 50%;
	margin-left: -8px;
	border: 10px solid;
	border-color: transparent transparent #82d260 transparent;
	box-sizing: border-box;
	cursor: default;
}

/* LINE TOP RIGHT */
.lineTopRight:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 20px;
	top: -20px;
	right: -15px;
	background-color: #82d260;
	z-index: -1;
	transform: rotate(45deg);
	cursor: default;
}

.lineTopRight:after {
	position: absolute;
	display: block;
	content: '';
	top: -34px;
	right: -34px;
	border: 10px solid;
	border-color: transparent transparent #82d260 transparent;
	box-sizing: border-box;
	transform: rotate(45deg);
	cursor: default;
}

/* LINE RIGHT */
.lineRight:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	right: -15px;
	top: 50%;
	margin-top: -3px;
	background-color: #82d260;
	z-index: -1;
	cursor: default;
}

.lineRight:after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	right: -35px;
	margin-top: -8px;
	border: 10px solid;
	border-color: transparent transparent transparent #82d260;
	box-sizing: border-box;
	cursor: default;
}

/* LINE BOTTOM RIGHT */
.lineBottomRight:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 20px;
	bottom: -20px;
	right: -15px;
	background-color: #82d260;
	z-index: -1;
	transform: rotate(-45deg);
	cursor: default;
}

.lineBottomRight:after {
	position: absolute;
	display: block;
	content: '';
	bottom: -34px;
	right: -34px;
	border: 10px solid;
	border-color: transparent transparent transparent #82d260;
	box-sizing: border-box;
	transform: rotate(45deg);
	cursor: default;
}

/* LINE BOTTOM */
.lineBottom:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	bottom: -15px;
	left: 50%;
	margin-left: -3px;
	background-color: #82d260;
	z-index: -1;
	cursor: default;
}

.lineBottom:after {
	position: absolute;
	display: block;
	content: '';
	bottom: -35px;
	left: 50%;
	margin-left: -8px;
	border: 10px solid;
	border-color: #82d260 transparent transparent transparent;
	box-sizing: border-box;
	cursor: default;
}

/* LINE BOTTOM LEFT */
.lineBottomLeft:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 20px;
	bottom: -20px;
	left: -15px;
	background-color: #82d260;
	z-index: -1;
	transform: rotate(45deg);
	cursor: default;
}

.lineBottomLeft:after {
	position: absolute;
	display: block;
	content: '';
	bottom: -34px;
	left: -34px;
	border: 10px solid;
	border-color: #82d260 transparent transparent transparent;
	box-sizing: border-box;
	transform: rotate(45deg);
	cursor: default;
}

/* LINE LEFT */
.lineLeft:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	left: -15px;
	top: 50%;
	margin-top: -3px;
	background-color: #82d260;
	z-index: -1;
	cursor: default;
}

.lineLeft:after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	left: -35px;
	margin-top: -8px;
	border: 10px solid;
	border-color: transparent #82d260 transparent transparent ;
	box-sizing: border-box;
	cursor: default;
}

/* LINE TOP LEFT */
.lineTopLeft:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 20px;
	top: -20px;
	left: -15px;
	background-color: #82d260;
	z-index: -1;
	transform: rotate(-45deg);
	cursor: default;
}

.lineTopLeft:after {
	position: absolute;
	display: block;
	content: '';
	top: -34px;
	left: -34px;
	border: 10px solid;
	border-color: transparent #82d260 transparent transparent;
	box-sizing: border-box;
	transform: rotate(45deg);
	cursor: default;
}


.weapon {
	background-image: url('../img/Sword-96.png');
}

.armor {
	background-image: url('../img/Bulletproof Vest-96.png');
}

.enemy {
	background-image: url('../img/Poison-96.png');
}
.money {
	background-image: url('../img/Cheap 2-96.png');
}
.health {
	background-image: url('../img/Test Tube-96.png');
}

.lazy-loaded {
	opacity: 1;
}

.tile:hover {
	/*background-color: #eee;*/
	/*color: #777;*/
}