html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: table;
	background-color: #585a5b;
}

.siteWrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.gameWrapper {
	margin: 0 auto;
	background-color: #a5a6a7;
	position: relative;
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tile {
	/*opacity: 0;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 20px;
	text-shadow: 1px 1px 0 #fff;
	color: #666;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	border: 5px solid;
	border-top-color: #fff;
	border-bottom-color: #999;
	border-left-color: #eee;
	border-right-color: #aaa;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	width: 100px;
	height: 100px;
	line-height: 90px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	cursor: pointer;

	transition: all 0.4s ease-in-out;
}

.tile.active {
	background-color: #70b752;
	border-top-color: #9aec77;
	border-bottom-color: #5d9048;
	border-left-color: #82d260;
	border-right-color: #6aab4e;
}

.weapon {
	background-image: url('../img/Sword-96.png');
}

.armor {
	background-image: url('../img/Bulletproof Vest-96.png');
}

.enemy {
	background-image: url('../img/Poison-96.png');
}
.money {
	background-image: url('../img/Cheap 2-96.png');
}
.health {
	background-image: url('../img/Test Tube-96.png');
}

.lazy-loaded {
	opacity: 1;
}

.tile:hover {
	/*background-color: #eee;*/
	/*color: #777;*/
}